/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*css declarations*/
body {
	background-image: url(../images/bg.jpeg);
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	/*color: #f2f2f2;*/ /*off white*/
	color: black;
	height: 100vh;
	font-family: 'Noto Sans', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
}

html {
	scroll-behavior: smooth;
}

.container {
	max-width: 960px; /*so that the layout wont expand extensively in very wide displays*/
	margin: 0 auto;
}

.main {
	min-height: 550px;
	/*border: 2px solid black;*/
}

[class*="col-"] {
	border: 5px solid transparent;
	/*border: 2px solid black;*/
	float: left;
}

.header {
	height: 150px;
	text-align: right;
	position: relative;
}

.navheader {
	position: absolute;
	bottom: 0;
	right: 0;
}

.navbtn {
	width: 130px;
}

.hello {
	font-size: 4rem;
	font-weight: bold;
}

.who {
	font-size: 4.242rem;
	font-weight: bold;
}

.what {
	font-size: 2.8em;
}

#phflag {
	height: 35px;
}

#me {
	height: 200px;
	width: 215px;
	border-radius: 50%; /*makes the photo round*/
	margin-top: 30px;
	margin-bottom: 30px;
}

#logo {
	height: 50px;
	width: 50px;
	margin: 3px;
}

.pf-holder {
	border: 4px solid black;
	min-height: 350px;
	border-radius: 5px;
}

.pf-img {
	height: 200px;
	border: 1px solid black;
}

.pf-title {
	font-weight: bold;
	font-size: 1.5rem;
}

.pf-desc {
	font-size: 0.8rem;
}

.down {
	position: absolute;
	bottom: 0;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(97,203,217, 1);
	padding: 10px 50px;
	border-radius: 10px;

	text-decoration: none;
	color: #333;
}

.down a {
	text-decoration: none;
	color: #333;
}
