/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*css declarations*/
body {
	color: black;
	height: 100vh;
	font-family: 'Nunito', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.container {
	max-width: 960px; /*so that the layout wont expand extensively in very wide displays*/
	margin: 0 auto;
}

[class*="col-"] {
	border: 5px solid transparent;
	float: left;
}

.header {
	height: 150px;
	text-align: right;
	position: relative;
}

.navheader {
	position: absolute;
	bottom: 0;
	right: 0;
}

.navbtn {
	width: 130px;
}

.hello {
	font-size: 4rem;
	font-family: 'Open Sans', sans-serif;
}

.who {
	font-size: 4.242rem;
	font-family: 'Open Sans', sans-serif;
}

.what {
	font-size: 2.5em;
}

#phflag {
	height: 35px;
}

#me {
	height: 190px;
	width: 205px;
	border-radius: 50%; /*makes the photo round*/
	margin-top: 30px;
	margin-bottom: 30px;
}

#logo {
	height: 43px;
	width: 43px;
	margin: 3px;
}

.devicons {
	font-size: 40px;
	margin: 3px;
}

.pf-holder {
	min-height: 300px;
}

.pf-img {
	height: 230px;
}

.pf-title {
	font-weight: normal;
	font-size: 1.5rem;
}

.pf-desc {
	font-size: 0.8rem;
}

.td-none {
	text-decoration: none;
	color: black;
}

/*MEDIA QUERIES*/
/* Mobile */
@media only screen and (max-width: 400px) {
	body {
		color: #333;
	}

	.header, .space {
		display: none;
	}

	.hello {
		padding-top: 1em;
		font-size: 3rem;
	}

	.who {
		font-size: 3.242rem;
	}

	.what {
		font-size: 2em;
	}

	.pf-img {
		height: 180px;
	}

	#id-portfolio {
		padding-top: 40px;
	}

	.pf-title {
		font-weight: bold;
	}
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	body {
		color: #333;
	}

	.header, .space {
		display: none;
	}

	.hello {
		padding-top: 1em;
		font-size: 3rem;
	}

	.who {
		font-size: 3.242rem;
	}

	.what {
		font-size: 2em;
	}

	.pf-img {
		height: 180px;
	}

	#id-portfolio {
		padding-top: 40px;
	}
}

/* Desktop */
@media only screen and (min-width: 961px) {
	.main {
		min-height: 75vh;
	}
}